/* 
SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>

SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Test Banner */
.testBanner {
  width: fit-content;
  background-color: #FACC15;
  color: black;
  padding: 0.35rem 0.85rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* Navbar Content */
.logoWrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logoImage {
  max-height: calc(var(--ifm-navbar-height) * 0.75);
  width: auto;
}

:global([data-theme='dark']) .logoImage {
  filter: invert(1);
  transition: filter 0.3s;
}