/* 
 SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>

 SPDX-License-Identifier: AGPL-3.0-or-later
 */
 
.dropdown--mega {
    position: static;
  }
  
.dropdown--mega .dropdown__menu {
    visibility: inherit;
    border-radius: 0;
    opacity: 1;
    box-shadow: none;
    width: 100%;
    position: static;
    transform: none;
    padding: var(--ifm-navbar-padding-vertical)
      var(--ifm-navbar-padding-horizontal);
    border-bottom: var(--ifm-global-border-width) solid
      var(--ifm-color-emphasis-200);
  }

.dropdown--mega .dropdown__row {
  flex-wrap: nowrap;
}

.dropdown--mega .dropdown__row:last-child {
  margin-bottom: 0;
}

.dropdown--mega .dropdown__col {
  flex: 1 1 0;
  min-width: 0;
}


.dropdown--mega .dropdown__link,
.dropdown--mega .dropdown__label {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}